<div id="global-flash" aria-live="polite">
  <% if flash[:notice].present? %>
    <p class="flash flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert].present? %>
    <p class="flash flash-alert"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:error].present? %>
    <p class="flash flash-error"><%= flash[:error] %></p>
  <% end %>
</div>
